{% extends 'base.html' %}

{% block content %}

<div class="container pt-4">

  <h2 class="py-3">Welcome back, Judge {{request.user|title}}</h2>

  <hr>

  <div class="pt-3 row row-cols-4">

{% for jury in list %}
<div class="col">
  <div class="bg-light rounded w-100 d-flex align-items-center justify-content-center border border-2 shadow" style="height: 12em">
    <div>
    <a class="text-decoration-none text-center" href="{% url 'juryapp:send_all' jury.pk %}"><h3>{{ jury.casename|title }}</h3></a>
    <div class="d-flex justify-content-center pt-3">
    <button type="button" class="btn btn-danger text-center" data-bs-toggle="modal" data-bs-target="#j{{jury}}">
      Delete
    </button>    
  </div>
  </div>
  </div>
  </div>
{% endfor %}
</div>
</div>
<div>
{% for jury in list %}
<!--Delete Modal-->
<div class="modal fade" id="j{{jury}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete this jury?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. All jurors and panels will be deleted. Message history will still be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{% url 'juryapp:delete' jury.pk %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}