{% extends 'base.html' %}

{% block content %}

<div class="row min-vh-100 pe-5">
    <div class="col-sm-3 bg-dark">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a href="{% url 'juryapp:create' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4">CourtConnect</span>
            </a>
            <hr class="border border-white border-1 opacity-75">
            <span class="fs-5 text-light pb-3">{{jury.casename|title}}</span>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'juryapp:send_all' jury.pk %}" class="nav-link {% if page == 0 %} active {% else %} text-white {% endif%}" aria-current="page">
                  All Jurors
                </a>
              </li>
              {% for panel in panels %}
              <li>
                <a class="nav-link {% if page == panel.number %} active {% else %} text-white {% endif%}" aria-current="page" href="{% url 'juryapp:send_panel' panel.jury.pk panel.number %}">
                  Panel {{ panel.number }}
                </a>
              </li>
                {% endfor %}
            </ul>
            <hr>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>{{ request.user }}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col-sm-9 p-3">
        <div class="row">
          {% if members and qrcode_panel %}
            <div class="col-sm-8">
          {% else %}
          <div class="col-sm-10">
            {% endif %}
        {% if page == 0 %}
        <h2>All Jurors</h2>
        {% else %}
        <h2>Panel {{ page }}</h2>
        {% endif %}
        </div>
      {% if qrcode_panel %}
        <div class="col-sm-2">

            <a class="float-end btn btn-primary" href="{% url 'juryapp:qr' qrcode_panel.pk %}">QR CODE</a>
        
        </div>
        {% endif %}
        <div class="col-sm-2">
          {% if members %}
        <div class="dropdown float-end">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Members
          </a>
        
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            {% for member in members %}
            <li class="text-dark px-2 py-1 bg-light">
              <div class="row">
                <div class="col-sm-9">{{ member }}</div>
                <div class="col-sm-3"><a type="button" data-bs-toggle="modal" data-bs-target="#m{{member.pk}}"><i class="bi bi-x-circle-fill"></i></a></div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
        </div>
        {% for message in messages %}

        <div class="w-100 border rounded-2 p-2 my-3 bg-light">
            <div>{{ message.message }}</div>
            <p class="mb-0">{{ message.timestamp }}</p>
        </div>

        {% endfor %}
        {% if messages.has_previous or messages.has_next %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if messages.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ messages.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for x in messages.paginator.page_range %}
          <li class="page-item"><a class="page-link" href="?page={{ x }}">{{ x }}</a></li>
          {% endfor %}
          {% if messages.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ messages.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
        <hr class="w-100 my-3">
        <form method="post">
        {% csrf_token %}
        <div class="w-100 border rounded-2 my-3">
            <div class="row">
            <div class="col-sm-11">
        {{ form }}
    </div>
    <div class="col-sm-1">
        <button class="border-0 bg-white pe-4 py-3"
            type="submit"><i type="submit" class="bi bi-send-fill" style="font-size: 28px;"></i></button>
        </div>
        </div>
    </div>
</form>
    </div>
</div>
</div>

{% for member in members %}
<!--Delete Modal-->
<div class="modal fade" id="m{{member.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete this member from this jury?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. This juror will not only be deleted from this panel, but also from the jury, and will have to add their number again to receive messages.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{% url 'juryapp:delete_number' member.pk jury.pk %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}