<!--users/templates/registration/login.html-->

{% extends 'account_base.html' %}

{% block content %}

{% load widget_tweaks %}

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<h1 class="text-center pt-2">Login</h1>

<form class="py-3 w-100" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.errors }}
      </div>
      {% endif %}
    <label class="form-label">Username</label>
    {{ form.username|add_class:'form-control' }}
    <label class="form-label pt-2">Password</label>
    {{ form.password|add_class:'form-control' }}
    <button class="btn btn-blue mt-3" type="submit">Login</button>
</form>
<a href="{% url 'juryapp:register' %}">Create account instead</a>
{% endblock %}